<div class="playerIndex">
    <h1 class="nameTitle">Search Player</h1>
        <form action="/players/search" method="GET" class="playerForm">
        <input type="text" class="playerInput" placeholder="Kobe Bryant" name="playerName">
    
        <input type="submit" class="seasonSubmit">
        </form>
    </div>