<div class="teamsDetail">

    <h1 class="nameTitle detailTitle"><%= abbrev %> <%= name %></h1>
     <div class="teamDiv">
         <br> <span class="teamSpan">Conference:</span> <%= conference %>
     </div>
     <div class="teamDiv">    
         <span class="teamSpan">Division:</span> <%= division %>
     </div>
 </div>