<div class="home">

    <h1 class="nameTitle detailTitle">Welcome!</h1>
    
    <p class="homeP">Start below to begin your search!</p>
    
    <a class="resLink homeLink" href='/players'>Players</a>
    <a class="resLink" href='/teams'>Teams</a>
    </div>