<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
    <title>NBA-bite!</title>
</head>
<div class="navHeader">
    <h1 class="navTitle">
        NBA Bite!
    </h1>
    
    <div class="nav">
    <a class="navLink" href="/">Search</a>
    <a class="navLink" href="/favorites">Favorites</a>
    <!-- <a href="/fantasy">Fantasy Team</a> -->
    </div>
</div>
<body>
    <%- body %>
</body>
</html>